<main layout="row" layout-align="center center">
    <md-witeframe class="md-whiteframe-z1" md-layout="vertical" flex="33">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="horizontal">
                <h1>Login</h1>
            </div>
        </md-toolbar>
        <md-content class="md-padding" md-layout="vertical">
            <p>Please login using one of the following methods:</p>
            <div layout="row" layout-align="space-around center">
                <md-button class="md-raised" ng-click="vm.withGoogle()">
                    <ng-md-icon icon="google-plus-box"></ng-md-icon>
                    <span>Google</span>
                </md-button>
                <md-button class="md-raised" ng-click="vm.withGithub()">
                    <ng-md-icon icon="github-box"></ng-md-icon>
                    <span>GitHub</span>
                </md-button>
            </div>
        </md-content>
    </md-witeframe>
</main>